@page
@model BookingCanceledModel
@{
    ViewData["Title"] = "Booking Canceled";
}
<header id="contentHeader" class="hasCrumbs">
    <h1>Booking Canceled</h1>
</header>
<article id="mainArticle">
    <h1>Canceled: @Model.TourName</h1>
    <div>
        <p>We're sorry you had to cancel the tour. We'll be contacting you soon.</p>
    </div>
</article>