@page
@model IndexModel
@{
    ViewData["Title"] = "Our Tours";
}

<header id="contentHeader" class="hasCrumbs">
    <h1>Our Tours</h1>
    <div id="subLinks">
        <ul>
            <li><a href="/tours" title="Our tours">All Tours</a></li>
            <li><a href="/tours" title="find tours">Tours by Activity</a></li>
            <li><a href="/tours" title="find tours">Tours by Region</a></li>
            <li><a href="/tours" title="find tours">Tour Finder</a></li>
        </ul>
    </div>
</header>
<article id="mainArticle">
    <h1>Something for everyone</h1>
    <img src="images/flag.jpg" alt="Our Tours" class="articleImage" />
    <div class="multiCol">
        <p>What type of California experience do you want to have? Are you looking for an exciting adventure? A chance to relax and get away from it all? Or maybe you're looking for a chance to do something entirely new and enriching! As you can see, we've got you covered. We offer tours that are as diverse as California itself! Select any of our tours learn more about pricing and available options. </p>
        <p>If you want to refine your search a bit, feel free to browse tours by <a href="tour_region.htm">region</a> or <a href="tour_activity.htm">activity</a>. You can even check out our cool interactive Tour Finder to help you choose the tour that will give you the best tour experience based on your specific preferences. If you have any questions about any of our tours, feel free to <a href="contact.htm">contact us</a>, or check out our handy <a href="explorers/faq.htm">FAQ</a> for a quick overview of our services.</p>
    </div>
    <div id="tourDescriptions">
        <div class="tourDescription">
            <h2>Backpack Cal</h2>
            <p><img src="images/back_bug.gif" alt="Backpack Cal" width="195" height="120" />Explore California our favorite way...by foot! Get outdoors and into the millions of acres of forests, desert, and spectacular scenery that California is famous for. We have a wide range of backpacking tour options, from single day-trips to week long guided excursions. Find a comfortable pair of shoes and come hiking with us! <a href="/BackpackCal" title="Backpack Cal" class="more">learn more!</a></p>
        </div>
        <div class="tourDescription">
            <h2>California Calm</h2>
            <p><img src="images/calm_desc_bug.gif" width="195" height="120" alt="California Calm" />Looking for a little relaxation? California Calm is our hand-picked collection of incredible California Spas and therapy retreats. Enjoy unbelievable massage treatments, beauty regimens, and active getaways. We've combed the entire state to find the finest spa experiences available...imagine that, we've even made choosing a spa retreat relaxing! <a href="_documents/california calm.pdf" title="California Calm" class="more">learn more!</a></p>
        </div>
        <div class="tourDescription">
            <h2>California Hotsprings</h2>
            <p><img src="images/springs_desc_bug.gif" width="195" height="120" alt="California Hot Springs" />Let's be honest, you have no idea what a hot spring is...do you? Well, we do, and we can't wait for you to experience the relaxing warmth of "nature's hot-tubs!" We offer packages that range from all-inclusive hot spring resorts to camping opportunities next to some of the country's last remaining primitive springs.<a href="tourDetail_hotsprings.htm" title="California Hotsprings" class="more">learn more!</a></p>
        </div>
        <div class="tourDescription">
            <h2>Cycle California</h2>
            <p><img src="images/cycle_desc_bug.gif" width="195" height="120" alt="Cycle California" />Whether you are a hard-core mountain biking enthusiast, or just looking for a cool way to see the many scenic towns and vistas of our great state, Cycle California has a package for you! Explore the thousand of miles of biking trails from Big Sur all the way to the Southern California coast. Packages range from bring-your-own bike to full bike rental and travel days. <a href="_documents/cycle california.zip" title="California Cycle" class="more">learn more!</a></p>
        </div>
        <div class="tourDescription">
            <h2>From Desert to Sea</h2>
            <p><img src="images/desert_desc_bug.gif" width="195" height="120" alt="From Desert to Sea" />Our most wide-ranging tour option! Come explore California from the stunning deserts all the way to our beautiful coast. Along the way you'll travel through breathtaking mountain ranges and some of the nation's most fertile farmland as you see why California is regarded as the most diverse state in the nation! Come see ALL that California has to offer! <a href="_documents/desert to sea.pdf" title="Desert to Sea" class="more">learn more!</a></p>
        </div>
        <div class="tourDescription">
            <h2>Kids California</h2>
            <p><img src="images/kids_desc_bug.gif" width="195" height="120" />Over and over again our customer support people would hear, "but what if we have kids?" when describing a tour. Then it hit us...why not create tours specifically for kids?! California is an amazing playground for everyone and should be experienced by all. From amazing  museums, outstanding parks, Disney, and kid-centered nature experiences, Kids California truly has it all! <a href="tourDetail_kids.htm" title="Kids California" class="more">learn more!</a></p>
        </div>
        <div class="tourDescription">
            <h2>Nature Watch</h2>
            <p><img src="images/nature_desc_bug.gif" width="195" height="120" alt="Nature Watch" />If you love the outdoors, nature, and the environment, California is the place for you! Our eco-tours range from watching seals and whales to exploring the desert for rare lizards and fauna. As inspirational as they are educational, our Nature Watch packages bring you the full range of California's natural beauty. <a href="_documents/nature watch.pdf" title="Nature Watch" class="more">learn more!</a></p>
        </div>
        <div class="tourDescription">
            <h2>Snowboard Cali</h2>
            <p><img src="images/snow_desc_bug.gif" width="195" height="120" alt="Snow Cali" />California has some of the best snowboarding in the US and at Explore California we've combed the runs to offer you the best resorts in the state. We even offer multi-resort packages for those that just can't get enough of that pack and grind. See you on the slopes! <a href="_documents/snowboard california.pdf" title="Snowboard Cali" class="more">learn more!</a></p>
        </div>
        <div class="tourDescription">
            <h2>Taste of California</h2>
            <p><img src="images/taste_desc_bug.gif" width="195" height="140" alt="Taste of California" />Tour of the wine country? Tour of the olive groves? We couldn't decide so we put them together in one of our most amazing tour packages ever. Taste of California immerses you in the serene, romantic lifestyle of the California wine country and olive groves. Along the way you'll experience some of the best cuisine in the world, all made from fresh local ingredients by some of the nation's most renown chefs. Bon Appetit! <a href="_documents/taste of california.pdf" title="Taste of California" class="more">learn more!</a></p>
        </div>
    </div>
</article>